.winContainer{
    background: #000;
    padding-top: 20%;
    padding-bottom: 30%;

}


.win{
    font-size: 30px;
    /* margin-top: 20%; */
    color:rgb(43, 241, 60);
    letter-spacing: 6px;
    font-weight: bold;
    padding-top: 12%;
    margin-bottom: 45px;
        
}

.winScore{
    display: flex;
    justify-content: space-around;
    color:rgb(236, 66, 36);
    margin-top: 10%;
    font-size:25px ;
}

.playAgain{
    /* margin-top: 50px;     */
    width: 53px;
    height: 53px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    color:firebrick;
    font-size: 14px;
    font-weight: bold;

}